header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 90px;
  position: fixed;
  z-index: 1999;
  width: 100%;
  transition: all 0.3s ease 0s;
  .menu {
    height: 90px;
    ul {
      height: 90px;
      display: flex;
      list-style: none;
      align-items: center;
      li {
        margin-left:35px;
        margin-right: 35px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: $orange;
        font-size: 18px;
        .underline {
          background: $orange;
          width: 0;
          height: 2px;
          transition: all 0.3s ease-in-out 0s;
        }
        &:hover {
          cursor:pointer;
          .underline {
            width: 100%;
          }
        }
      }
    }
  }
  .cta {
    display: grid;
    place-content: center;
    height: 40px;
    width: 200px;
    transition: all 0.3s ease 0s;
    border-radius: 8px;
    background: $orange;
    color: $white;
    &:hover {
      background: white;
      color: $orange;
    }
  }
}

.hero {
  padding: 200px 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  background: white;
  .col {
    width: 50%;
  }
  .hero-left {
    position: relative;
    z-index: 2;
    .hero-text {
      h1 {
        font-size: 78px;
        font-weight: 700;
      }
      p {
        font-size: 58px;
        font-weight: 400;
        margin-top: 20px;
      }
    }

    .hero-cta {
      margin-top: 40px;
      display: flex;
      align-items: center;
      gap: 30px;

      .cta {
        all: unset;
        display: grid;
        place-content: center;
        height: 40px;
        width: 200px;
        transition: all 0.3s ease 0s;
        border-radius: 8px;
        background: $orange;
        color: white;
        &:hover {
          background: white;
          color: $orange;
        }
      }
      .btn-secondary{
        background: $green;
        color: white;
        &:hover{
          color : $green;
          background:white;
        }
      }
    }
  }
  .hero-right {
    background: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    overflow:hidden;
    img {
      z-index: 0;
      object-fit: cover;
    }
  }
}

//media screen 1280px
@media screen and (max-width: 1280px) {
  .hero {
    flex-direction: column;
    .col{
      width: 100%;
      padding:32px;
    }
    .hero-left {
      .hero-text {
        h1 {
          font-size: 58px;
        }
        p {
          font-size: 38px;
        }
      }
    }
    .hero-right{
      height:500px;
      position:unset;
      display:block;
      padding-bottom: 600px;
      img{
        object-fit:contain;
        object-position: center;
      }
      
    }
  }
}

.about {
  margin-top: 50px;
  .row {
    width: 100%;
    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      font-weight: 400;
      span {
        font-weight: 700;
        color: $blue;
      }
    }
  }
  .container {
    width: 900px;
    margin: 150px auto;
    display: flex;
    position: relative;
    gap:20px;
    .col {
      width: 50%;
    }
    .left {
      position: relative;
      z-index: 1;
      p {
        position: sticky;
        top: 140px;
        font-size: 25px;
        font-weight: 400;
      }
    }
    .right {
      .item {
        margin-bottom: 120px;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        gap: 25px;
        .item-left {
          opacity: 0.7;
          width: 23.26px;
          font-size: 20px;
          padding-top: 5px;
        }
        .item-right {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          h3 {
            font-size: 35px;
          }
          p {
            opacity: 0.8;
            font-size: 25px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .about{
    margin-top: 200px;
    padding: 0 32px;
    .container{
      flex-direction: column;
      width: 100%;
      .col{
        width:100%;
      }
    }
  }
}
.bg {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.cta {
  display: grid;
  place-content: center;
  height: 40px;
  width: 200px;
  transition: all 0.3s ease 0s;
  border-radius: 8px;
  background: $blue;
  color: white;
  &:hover {
    background: white;
    color: $blue;
  }
}

.services {
  padding-top:150px;
  .row{
    width:1280px;
    margin: 0 auto;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    .text-left{
      width:400px;
      h2{
        text-transform: uppercase;
        font-size: 14px;
      }
      p{
        font-size: 50px;
        font-weight: 400;
        margin-top: 20px;
      }
    }
    .text-right{
      width:400px;
      p{
        font-size: 22px;
        font-weight: 400;
        text-align: justify;
      }
    }
  }
}

.cards{
  width: 1440px;
  margin: 150px auto;
  display:flex;
  gap: 35px;
  .cards-left{
    width:70%;
    height:600px;
    display:flex;
    flex-direction: column;
    gap: 35px;
    .card1{
      background: $blue;
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      border-radius: 25px;
      height: calc(575px * 0.25);
      .card-item{
        display:flex;
        flex-direction: column;
        width:100%;
        height:100%;
        text-align: center;
        margin-top: calc((141.25px - 38px) / 2);
        .stat{
          font-size:22px;
        }
        .stat-text{
          margin-top:10px;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 14px;
        }
      }
    }
    .card2{
      background: $blue;
      display:grid;
      place-content: center;
      border-radius: 25px;
      height: calc(575px * 0.75);
    }
    
  }
  .cards-right{
    width:30%;
    height:600px;
    background: $blue;
    border-radius: 25px;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    img{
      height:630px;
      background-image: url("src/assets/images/Intro.png");
      background-size:contain;
      background-position: center;
      border-radius: 45px;
      overflow:hidden;
    }
  }

}

@media screen and (max-width: 1280px) {
  .services{
    display:none;
    .row{
      display:none;
    }
  }
.cards{
  display:none;
}
}

footer{
  background: $green;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding:15px 200px;
  display:flex;
  justify-content: space-between;
  font-weight:100;
  font-size: 12px;
  .copyright{
    color: white;  
  }
  ul{
    list-style: none;
    display:flex;

    li{
      color: white;
      margin-right:15px;
    }
  }
  .country{
    color: white; 
  }
}

@media screen and (max-width: 1280px) {
  footer{
    padding:15px 32px;
  }
}

.slogan{
  width:100vw;
  height:100vh;
  background: $orange;
  display:flex;
  justify-content: center;
  align-items: center;
  .slogan-text{
    width:1200px;
    font-size: 70px;
    font-weight: 400;
    color: white;
  }
}
@media screen and (max-width: 1280px) {
  .slogan{
    padding: 0 32px;
    .slogan-text{
      font-size:45px;
      width: 100%;
    }
  }
}

.contact{
  padding-top:150px;
  width:100vw;
  height:100vh;
  background: $green;
  .contact-text{
    margin: 0 auto;
    width:1200px;
    font-size: 45px;
    font-weight: 400;
    color: $white;
  }
  .contact-form{
    width:1200px;
    height:500px;
    display:flex;
    justify-content: center;
    align-items: center;
    .container{
      background:$white;
      width: 100%;
      height: 50px;
      border-radius: 10px;
      border: none;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 20px;
      display:flex;
      align-items:center;
      justify-content: space-between;
    }
    input{
      background:unset;
      outline: none;
      border: none;
      color: #1E1E1E;
      font-size:19px;
      width:100%;
      &::placeholder{
        color:$green;
        font-size:19px;
      }
    }
    button{
      cursor: pointer;
      all:unset;
      font-size:22px;
      color: $green;
      transition: all 0.3s ease 0s;

      &:hover{
        color: #1E1E1E;
        font-size:26px;
        cursor:pointer;
      }
    }
  }
}


@media screen and (max-width: 1280px) {
  .contact{
    padding-left:32px;
    padding-right:32px;
    .contact-text{
      width:100%;
    }
    .contact-form{
      width:100%;
      .container{
        flex-direction: row;
      }
    }
  }
}